<div class="sidebar">

<div class="sidebar-logo">

<img src="images/logo.png" width="45">

<h2>Spense</h2>

</div>

<ul>

<li>
<a href="dashboard.html">
📊 Dashboard
</a>
</li>

<li>
<a href="expense-history.html">
📄 History
</a>
</li>

<li>
<a href="reports.html">
📥 Reports
</a>
</li>

<li>
<a href="profile.html">
👤 Profile
</a>
</li>

<li>
<button
onclick="toggleTheme()"
class="btn btn-outline-light w-100">

🌙 Toggle Theme

</button>
</li>

<li>
<a href="login.html">
🚪 Logout
</a>
</li>

</ul>

</div>