<div class="sidebar">

<div class="sidebar-logo">

<img src="images/logo.png" width="45">

<h2>Spense Admin</h2>

</div>

<ul>

<li>
<a href="admin.html">
📊 Dashboard
</a>
</li>

<li>
<a href="admin-reports.html">
📁 Reports
</a>
</li>

<li>
<a href="user-details.html">
👥 Users
</a>
</li>

<li>
<a href="#">
⚙ Settings
</a>
</li>

<li>
<button
onclick="toggleTheme()"
class="btn btn-outline-light w-100">

🌙 Toggle Theme

</button>
</li>

<li>
<a href="login.html">
🚪 Logout
</a>
</li>



</ul>

</div>