body{
background:#f4f6fa;
}

.card{
border-radius:18px;
}

.stat-card{
border-radius:20px;
}

.avatar{
width:100px;
height:100px;
font-size:40px;
display:flex;
align-items:center;
justify-content:center;
background:#206bc4;
color:white;
border-radius:50%;
margin:auto;
}